/* Chart colers */
$chart-red: #bb242e;
$chart-light-red: #e74c3c;
$chart-blue: #136a90;
$chart-light-blue: #3498db;
$chart-dark-blue: #34495e;
$chart-orange: #e67e22;
$chart-yellow: #f1c40f;
$chart-green: #1abc9c;
$chart-purple: #9b59b6;
$chart-grey: #95a5a6;
$chart-dark-red: #85144b;
$chart-teal: #39CCCC;

/* App colors */
$black: #111;
$grey: #ddd;
$dark-grey: #999;
$white: #fff;
$orange: #f87016;
