@import "colors";

$right-column-width: 250px;

[candidate-stat] {
  display: block;
  background-color: $grey;
  margin-bottom: 40px;
  padding: 1px 10px 20px 10px;
}

.app-header {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  display: block;
  font-size: 2em;
  margin: .67em 0;
}

.app-paragraph {
  max-width: calc(100% - #{$right-column-width});
}

.chart-header {
  margin-bottom: .5em;
}

.chart-left-column {
  float: left;
  background-color: $white;
  width: calc(100% - #{$right-column-width});

  &.full-width {
    width: 100%;
  }
}

.chart-svg {
  display: block;
}

.axis.y {
  path {
    display: none;
    fill-opacity: 0.2;
  }

  line {
    stroke: $grey;
    stroke-width: 1;
    fill: none;
    shape-rendering: crispEdges;
  }

  text {
    font-size: .8em;
  }

  g:first-child {
    text {
      display: none;
    }

    line {
      stroke: $black;
    }
  }
}

.column, .slice {
  &.c-1 {
    fill: $chart-blue;
  }
  &.c-2 {
    fill: $chart-red;
  }
  &.c-3 {
    fill: $chart-green;
  }
  &.c-4 {
    fill: $chart-yellow;
  }
  &.c-5 {
    fill: $chart-purple;
  }
  &.c-6 {
    fill: $chart-light-red;
  }
  &.c-7 {
    fill: $chart-light-blue;
  }
  &.c-8 {
    fill: $chart-grey;
  }
  &.c-9 {
    fill: $chart-orange;
  }
  &.c-10 {
    fill: $chart-dark-blue;
  }
  &.c-11 {
    fill: $chart-dark-red;
  }
  &.c-12 {
    fill: $chart-teal;
  }
}

.pie.text {
  fill: $white;
}

.text {
  font-size: .7em;
}

.text-view {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  padding: 15px 45px;

  &-container {
    text-align: center;
  }

  &-number {
    font-family: 'berlingske-slab';
    font-size: 120px;
    color: $orange;
    margin: 0;
  }

  &-label {
    @extend .label;

    margin: 0;
  }
}

.label {
  font-weight: bold;
  font-size: 14px;
}

.chart-right-column {
  float: left;
  width: $right-column-width;
}

.chart-labels {
  list-style: none;
  margin: 0;
  padding: 20px 15px;
}

.chart-label {
  i {
    margin-right: 10px;

    &.c-1 {
      color: $chart-blue;
    }
    &.c-2 {
      color: $chart-red;
    }
    &.c-3 {
      color: $chart-green;
    }
    &.c-4 {
      color: $chart-yellow;
    }
    &.c-5 {
      color: $chart-purple;
    }
    &.c-6 {
      color: $chart-light-red;
    }
    &.c-7 {
      color: $chart-light-blue;
    }
    &.c-8 {
      color: $chart-grey;
    }
    &.c-9 {
      color: $chart-orange;
    }
    &.c-10 {
      color: $chart-dark-blue;
    }
    &.c-11 {
      color: $chart-dark-red;
    }
    &.c-12 {
      color: $chart-teal;
    }
  }
}

.d3-tip {
  background: #fff;
  border: 1px solid $dark-grey;
  padding: .1em .5em;
  font-size: .9em;
  pointer-events: none;
}

.stats {
  float: right;
  list-style: none;
  margin: 0 0 0 1em;
  padding: 0;

  li {
    font-size: .8em;
    text-align: right;
    margin-bottom: .4em;
  }
}

.link {
  display: inline-block;
  padding: .2em 1em;
  background: $orange;
  border-radius: .3em;
  color: #fff;
  white-space: nowrap;
  margin-bottom: 1em;

  &:hover {
    color: #fff;
    text-decoration: none;
    background: lighten($orange, 10);
  }
}

.updated-popup {
  $popWidth: 280px;


  transition: top 200ms linear;

  position: fixed;
  top: -200px;
  left: 50%;
  width: $popWidth;
  margin-left: -($popWidth / 2);
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 6px 11px 0px rgba(0,0,0,0.60);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 15px;
  padding-bottom: 20px;

  &:before {
    border-top: 7px solid #BB242E;
    width: ($popWidth / 2);
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 20;
    content: ' ';
  }

  &:after {
    border-top: 7px solid #136A90;
    width: $popWidth;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 10;
    content: ' ';
  }

  &.show-popup {
    top: 43px;
  }

  &-header {
    cursor: pointer;
    font-size: 24px;
    text-transform: uppercase;
  }
  &-text {
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
  }
  &-remove {
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
  }
  &-close {
    display: none;
  }
}

@media (max-width: 767px) {
  .app-paragraph {
    max-width: 100%;
  }

  .app-header {
    clear: both;
    margin-top: .1em;
  }

  .chart-left-column {
    width: 100%;
    float: none;
  }

  .chart-right-column {
    float: none;
    width: 100%;
  }

  .chart-label {
    float: left;
    margin-right: 10px;
  }

  .text-view {
    flex-direction: column;
    padding: 0;

    &-number {
      font-size: 6em;
    }
  }

  .label {
    font-size: 0.7em;
  }

  .text {
    font-size: .8em;
  }

  .stats {
    float: none;
    display: inline-block;
    margin: 1em 0 0 0;

    li {
      float: left;

      &:first-child {
        margin-right: 10px;
      }
    }
  }

  .updated-popup {
    top: -80px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    text-align: left;
    padding: 10px 15px 0 15px;
    border-radius: 0;

    &:before {
      top: 0;
      width: 50%;
    }
    &:after {
      top: 0;
      width: 100%;
    }

    &.show-popup {
      top: 47px;
    }

    br {
      display: none;
    }

    &-header {
      font-size: 18px;
      margin: 8px 0 0 0;
    }
    &-text u {
      text-decoration: none;
    }
    &-remove {
      display: none;
    }
    &-close {
      cursor: pointer;
      position: absolute;
      top: -3px;
      right: 15px;
      display: block;
      font-size: 60px;
    }
  }
}
